name: Test One
on:
  workflow_dispatch:
jobs:
  run-action:
    name: Run Action
    steps:
      - name: Action one test
        uses: ./.github/workflows/action-one

      - name: Another summary
        shell: bash
        run: |
          echo "Writing summary..."
          echo "# Top level Summary" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "This is a summary from the workflow top level"

